.content{
    padding: 5px 9px;
    font-weight: 300;
    font-size: 12px;
}

.cardImg{
    border-radius: 9px;
}

.stats{
    display: flex;
}

.star{
    width: 14px;
    height: 14px;
    padding: 0px 2px;
}

.price{
    display: flex;
}